.main.css-k1vhr4.egzxvld3{
    margin-top: -50px;
    /* overflow: hidden; */
}

.css-u8hs99.exg6vvm14{
    visibility: collapse;
}

.css-po3vlj.exg6vvm15{
    width: 100%;
    height: 60px;
    background-color: white;
}

.css-po3vlj.exg6vvm15 .css-1x8cf1d.edgvbvh10{
    position: absolute;
    width: 100%;
    height: 50px;
    left:-2px;
    border: 2px solid;
}