/* Header */
.css-18ni7ap.e8zbici2{
    visibility: collapse;
}

/* Body */
.main.css-k1vhr4.egzxvld3{
    background: linear-gradient(90deg, rgba(37,33,48,1) 0%, rgba(46,33,89,1) 35%, rgba(37,33,48,1) 100%);
    margin-top: -60px;
}

/* Column 1 */

.css-1bfnhmd.e1tzin5v2{
    background-color: #efefef;
    padding: 20px;
    border-radius: 15px;
}

/* Column 2 */

.css-ml2xh6.e1tzin5v2{
    background-color: #efefef;
    padding: 20px;
    border-radius: 15px;
}
/* Sliders */

/* Default */
.css-ytkq5y.e1tzin5v2{
    background-color:rgb(239, 239, 239);
    padding: 0 15px 0px 15px;
    min-height: 150px;
    margin: -20px;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.css-ytkq5y.e1tzin5v2 p{
    transform: translateY(20px);
    margin-left: 25%;
    font-weight: 600;
}

/* Music */
.css-1r6slb0.e1tzin5v2{
    background-color: rgb(239, 239, 239);
    min-height: 150px;
    padding: 0 10px 0 10px;
    margin: -20px;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.css-1r6slb0.e1tzin5v2 p{
    transform: translateY(20px);
    margin-left: 45%;
    font-weight: 600;
}

/* Vowels */
.css-j5r0tf.e1tzin5v2{
    background-color: rgb(239, 239, 239);
    min-height: 150px;
    padding: 0 30px 0 30px;
    margin: -20px;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.css-j5r0tf.e1tzin5v2 p{
    transform: translateY(20px);
    margin-left: 48%;
    font-weight: 600;
}

/* Play Button */

.css-jwpbkl.e1tzin5v2{
    /* min-width: 100%; */
    margin-top: -80px;
    /* margin-left: 2%; */
    /* max-width: 5%; */
    transform: translateX(115px);
}

.css-1kulxx7.e1tzin5v2{
    /* min-width: 100%; */
    /* margin-top: -80px; */
    /* max-width: 5%; */
    transform: translateX(-32.5px);
}

.css-1mrqjpr.e1tzin5v2{
    /* min-width: 100%; */
    /* margin-top: -80px; */
    /* margin-right: 65%; */
    /* max-width: 5%; */
    transform: translateX(-100px);
}

.css-1r91ujg.e1tzin5v2{
    transform: translateX(40px);
    margin-top: -80px;

}

.css-1s0pqx4.e1tzin5v2{
    transform: translateX(-34px);
    /* margin-top: -80px; */
}

.css-7hjsgc.e1tzin5v2{
    transform: translateX(-100px);
    /* margin-top: -80px; */
}

/* Browse Button */

.css-u8hs99.exg6vvm14{
    visibility: collapse;
}

.css-po3vlj.exg6vvm15{
    width: 100%;
    height: 60px;
    background-color: rgb(239, 239, 239);
    margin-top: -40px;
}

.css-po3vlj.exg6vvm15 .css-1x8cf1d.edgvbvh10{
    position: absolute;
    width: 100%;
    height: 50px;
    left:-2px;
    border: 2px solid;
}

.css-po3vlj.exg6vvm15 .css-6kekos.edgvbvh9{
    position: absolute;
    width: 100%;
    height: 50px;
    left:-2px;
    border: 2px solid;
}